*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
header{
    width: 100%;
    height: 90vh;  
    background-image: url('Images/Img1.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
}
.HeaderTop{
    width: 100%;
    position: sticky;
    top:0px;
    background-color: rgba(0,0,0,0.9);
    /* background-color:#04af54;  */
    z-index: 1;
}
.HeaderTop > nav{
    width: 90%;
    height: 7vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo  a{
     color: #e3324a;
     padding: 5px 15px;
     border-radius: 15px;
     text-decoration: none;
}
.NavBar > ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.NavBar a{
    text-decoration: none;
    margin: 0px 10px;
    font-size:medium;
    color: #cfcfcf;;
}
.NavBar a:hover{
    color:#fff;
}
.NavBar ul > .Btn-1 > a{
    border: 2px solid #e3324a;
    padding: 5px;
    color: #e3324a;
}
.NavBar ul > .Btn-1 > a:hover{
    background-color:#e3324a;
    color: #fff;
}
.HeaderBody{
    width: 100%;
    display: flex;
    justify-content: center;
}
.HeaderBody > .RoomSearchBar{
    width: 40%;
    height: 20vh;
    margin-top: 5vh;
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: #fff; */
    text-align: center;
    padding: 5vh;
    border-radius: 10px;
    box-shadow: 2px 2px 25px 2px #202020;
}
.RoomSearchBar .InputBoxs  > input{
    width: 90%;
    font-size: medium;
    padding: 10px 20px;
    background: none;
    outline: none;
    border: none;
    background-color:transparent;
}
.RoomSearchBar .InputBoxs  > select{
    background:none;
    outline: none;
    border: none;
    font-weight:bold; 
    margin-right: 10px;
}
.InputBoxs {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
}

.RoomSearchBar .InputBoxs:hover{
    box-shadow: 0px 0px 5px 1px #505050;
}
.RoomSearchBar > input::placeholder{
    color: #5b5b5b;
}
.RoomSearchBar > h1{
    text-transform: uppercase;
    color:#e3324a;
    font-size:25px;
}
.RoomSearchBar > p{
    font-size:medium;
    text-transform: capitalize;
    font-weight:lighter;
    margin-bottom: 10px;
    line-height:20px;
}
.RoomSearchBar >.RoomSearchBtn2{
     font-weight: lighter;
     font-size:small;
     text-transform: uppercase;
     padding: 5px 10px;
     border:3px solid #e3324a;
     background-color: #e3324a;
     border-radius: 5px;
     margin-top: 10px;
     color: #fff;
}
.RoomSearchBar >.RoomSearchBtn2:hover{
    box-shadow: 0px 0px 5px 1px #e3324a;
}
.RoomSearchBar >.RoomSearchBtn1{
    font-weight: lighter;
    font-size:small;
    text-transform: uppercase;
    padding: 5px 10px;
    border:3px solid orangered;
    background-color:orangered;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
}
.RoomSearchBar >.RoomSearchBtn1:hover{
    box-shadow: 0px 0px 5px 1px orangered;
}
.HeaderFooter{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 5%;
}
.HeaderFooterLeft{
    width: 20%;
    height: 8vh;
    display: grid;
    align-items: center;
    background-color:rgba(227, 50, 74,0.9);
    text-align: center;
    border-radius: 5px;
    color: #fff;
}
.HeaderFooterRight{
    width: 70%;
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 5px;
    border: 2px solid #e3324a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#e3324a;
    font-weight: bold;
    font-size: large;
}
main{
    width: 100%;
}
.Section-1{
    width: 85%;
    margin: auto;  
    padding: 5vh 0vh;
}

.Section-1-Text{
    text-align: center;
}
.Section-1-Text h2{
    font-size: x-large;
    background-color: #e3324a;
    text-transform: uppercase;
    color: #fff;
    display: inline;
    border: solid red 2px;
    padding: 0px 20px;
    /* box-shadow: 0px 0px 10px 1px #e3324a; */
}
.Section-1-Text p{
    font-size:small;
    color: #202020;
    text-transform: capitalize;
    font-weight: lighter;
    margin-top: 10px;
}
.Section-1-Cards{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top:8vh;
}
.Section-1-Card{
    max-width: 35vh;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 0px 0px 15px gray;
    position: relative;
}

.Section-1-Card > a{
    text-decoration: none;
} 
.Section-1-Card .CardTop{
    height:70%;
    border-radius: 5px;
    padding: 15px 0px 0px 0px ;
    filter: grayscale(0.4);
}
.Section-1-Card .CardTop img{
  position:absolute;
  top: 0;
  left: 0;
}
.Section-1-Card .CardTop:hover{
    filter: grayscale(0);
}
.Section-1-Card .CardBottom > h3{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: large;
    background-color: rgba(0,0, 0,0.7);
    display: inline;
    padding: 5px 25px;
}
.Section-1-Card .CardBottom{
    height: auto;
    text-decoration: none;
    padding: 5px 10px;
}
.Section-1-Card .CardBottom > h4{
    color:black;
    margin: 5px 0px 10px 0px;
}
.Section-1-Card .CardBottom > p{
    color:black;
    margin: 5px 0px 10px 0px;
    font-size:small;
}

.Section-2{
    width: 100%;
    background-color:#fef2ef;

}
.Section-2-Body{
    width: 80%;
    margin: auto;
    padding: 10vh 0vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Section-2-Body > h1{
    font-size: x-large;
    text-transform: uppercase;
    padding: 20px;
    color:#e3324a;
    text-align: center;
}
.Section-2-Body  h3{
    text-align: center;
    text-transform: uppercase;
}

.Section-2-Left-Text,.Section-2-Right-Text{
    padding: 10px 10px;
}
.Section-2-Body p{
    font-size: medium;
    color: #505050;
    margin-top: 10px;
}
.Section-2-Body i{
    margin-right: 10px;
    background-color: #04af88;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid #04af88;
    font-size: small;
}
.Section-2-Body p:hover i{
      border: 2px solid #04af88;
      color: #04af88;
      background-color:#fef2ef;
}

.Section-3{
    width: 100%;
    padding: 10vh 0vh;
}
.Section-3 h1{
    text-align: center;
}

.ContactUs{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.ContactUs-Left{
    width: 50%;
    background-color: #fff;
}
.ContactUs-Right{
    width: 50%;
    height: 100%;
    /* background-color: rgba(227, 50, 74, 0.695); */
}
.ContactUs-Right p{
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    color: #e3324a;
}
.ContactUs-Right form{
    width: 70%;
    margin: auto;
    display: grid;
}
.ContactUs-Right  label{
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
}
.ContactUs-Right  input{
    font-size: medium;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid gray;
}
.ContactUs-Right  textarea{
    resize: none;
    font-size: medium;
    padding: 5px; 
    border-radius: 5px;
    border: 2px solid gray;
}
.ContactUs-Right  textarea::placeholder{
    font-size: small;
}
.ContactUs-Right span{
    color: crimson;
}
.ContactUs-Right button{
    width: 40%;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    color: #04af57;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #04af57;
    border-radius:3px;
    padding: 5px;
}
.ContactUs-Right button a{
    text-decoration: none;
    color: #04af57;
}
.ContactUs-Right button:hover a{
    color: #fff;
}
.ContactUs-Right button:hover{
    background-color: #04af57;
}



footer{
    width: 100%;
    background-color: #1d1d1d;
}
.FooterBody{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 5vh 0vh;
}
.FooterBody h3{
    display: inline;
    background-color: #e3324a;
    padding: 5px 10px ;
    text-transform: capitalize;
    list-style: none;
}
.FooterBody ul{
    display: flex;
    color: #7f7f7f;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
}
.FooterBody li{
    margin: 10px;
    font-size: small;
    font-weight: bold;
}
